<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About me</title>
        <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="what_time_is_it.js"></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar bg-body-tertiary">
                <form class="container-fluid justify-content-start">
                    <button class="btn btn-outline-success me-2" type="button">
                        <a href="./index.html">home</a>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary " type="button">
                        <a href="./blog_list.html">Blog</a>
                    </button>
                    <button href="./about_me.html" class="btn btn-sm btn-outline-secondary me-auto" type="button">
                        <a href="./about_me.html">About me</a>
                    </button>
                    <button class="btn btn-sm btn-outline-secondary">
                        <a class="nav-link" href="#">Log In</a>
                    </button>
                    
                </form>
            </nav>
        </div>
        <div class="container">
            <div class="row my-3">
                <div class="col-4">
                    <h1>About me</h1>
                    <h2>송정원입니다.</h2>
                    <p>HTML, CSS, Django로 웹사이트를 만듭니다.</p>
            
                    <button onclick="whatTimeIsIt()">현재시간</button>
                    
                    <a href="index.html">첫 화면으로 가기</a>
                </div>
                <div class="col-8">
                    <h1 style="font-size:3vw; text-align:center;">★ I want to sleep ★</h1>
                    <center>
                        <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA3MTVfMTEw%2FMDAxNjI2MzIxMTg4MDIy.0PUpli9R0iz9iPhnViYvsHM9E9SzJAYl6a7Opuqj5Y0g.X9q_UBgDWnF6v1bqM1HY2Vc-32fiKRZ5dUidXkeOACgg.JPEG.mom_say%2Fwfce.jpg&type=sc960_832"
                        class="img-fluid" width="600">
                    </center>
                    <h1 style="font-size:3vw; text-align:center;">★ I want to sleep ★</h1>
                </div>  
            </div>
            <div class="row">
                <div class="col-12">
                    <h2>Portfolio</h2>
                </div>
                <div class="col-sm col-lg-6 bg-info">col-sm
                    <img src=https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20160929_221%2Fwpdldhkdl1256_1475115062562GJKgG_JPEG%2F1.JPG&type=sc960_832
                    class="img-fluid" width="300" >
                </div>
                <div class="col-sm col-lg-3 bg-success">col-sm
                    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMDAyMTBfMTg2%2FMDAxNTgxMjk4NTEwMzAy.pjPujWNHB59cFK_IdnvGnlSMsdAFGwUdZSzTd8mvwoog.DGgoILOoLRqBcrYrZJck5md9FJf5bVt8UkBQhy_l7Gsg.PNG.sports_7330%2F20200206_%25B4%25EB%25C7%25D1%25C3%25BC%25C0%25B0%25C8%25B8_%25BD%25BA%25C6%25AE%25B7%25B9%25C4%25AA_%25BC%25F7%25B8%25E9_%25C4%25AB%25B5%25E5%25B4%25BA%25BD%25BA-05.png&type=sc960_832"
                    class="img-fluid" width="300">
                </div>
                <div class="col-sm col-lg-3 bg-danger">col-sm
                    <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fpost.phinf.naver.net%2FMjAxODA5MDRfMjEw%2FMDAxNTM2MDUyNzg2MjUy.NIRQQO_-wrrxy6PsHuKbU5QbPYqwNKfx_J1xpxmXQC4g.lE6LGM_olJq-DtL4X5nqmbmnXnyDtEl_u-ieQp21F04g.JPEG%2FIrb4aehEW9cVfb7gkZCqFEF_hk90.jpg&type=sc960_832"
                    class="img-fluid" width="300">
                </div>
            </div>
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>