{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div id="navbar">
            <h1><a href="/">pylog</a></h1>
            <a href="/posts/add/" class="btn btn-primary">글 작성</a>
        </div>
        <div id="post-list">
            <ul class="posts">
                {% for post in posts %}
                <li class="post">
                    <!--<h2><a href="/posts/{{ post.id }}/">{{ post.title }}</a></h2> 절대경로-->
                    <h2><a href="{{ post.id }}/">{{ post.title }}</a></h2> 
                    <!-- 상대경로 : 앞에 /가 없는 경우 앞에 현 위치가 붙기 때문에 상대경로로 입력-->
                    <p>{{ post.content }}</p>
                    <!-- post와 연결된 모든 comment QureySet-->
                    <a>더보기</a>
                    <ul class="comments">
                        {% for comment in post.comment_set.all %}
                        <li class="comment">{{ comment.content }}</li>
                        {% empty %} <!-- post.comment_set.all에 순회할 항목이 없는 경우 -->
                        <li class="comment-empty">아직 댓글이 없습니다</li>
                        {% endfor %}
                    </ul>
                    {% if post.thumbnail %}
                    <img src="{{ post.thumbnail.url }}" alt="">
                    {% else %}
                    <img src="https://wallpapercave.com/dwp1x/wp12605671.jpg" alt="">
                    {% endif %}
                </li>
                {% endfor %}
                <h1><small><a href="/">Home</a></small></h1>
            </ul>
        </div>
    </body>
</html>